body {
  font: size 16px;
  color: #e76c08;
  font-family: "Raleway", "NeoDunggeunmoPro-Regular", "맑은 고딕";
  font-weight: 400;
  min-height: 2000px;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto;
  margin으로 묶어 쓸 수 있음 */
  margin: 0 auto 0 auto;
  /* outline: 1px solid #f00; */
}
h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 50px;
}
