.header {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  z-index: 99;
  border-bottom: 1px solid #ccc;
  /* left: 100px;
  top: 300px; */
  transition: all 0.5s ease;
}
.header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 100px;
}
.header:hover {
  height: 350px;
  background-color: rgba(255, 255, 255, 1);
}
.header:hover .list {
  color: #111;
}
.header .logo {
  position: absolute;
  height: 100px;
  display: flex;
  align-items: center;
  /* outline: 1px solid #f00; */
  padding-left: 50px;
  padding-right: 50px;
}
.list {
  display: flex;
  justify-content: center;
  color: #fff;
}
.list .depth01 {
  font-size: 20px;
  font-weight: 500;
  /* display: block;
  line-height: 100px; */
  height: 100px;
  /* width: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  transition: all 0.25s ease;
  /* outline: 1px solid #fc8803; */
}
.list > li:hover .depth01 {
  color: #f60;
}

.list .depth02 {
  text-align: center;
  padding-top: 10px;
}
.list .depth02 li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.25s ease;
}
.list .depth02 li a:hover {
  color: #f60;
}
