@import "vars";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
  .logo {
    height: 80px;
    padding: 0 50px;
    img {
      height: 40px;
      top: 20px;
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease;
      &.white {
        opacity: 1;
      }
    }
  }
  &.on {
    color: #111;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    .logo {
      img {
        &.white {
          opacity: 0;
        }
        &.black {
          opacity: 1;
        }
      }
    }
  }
}
.gnb {
  .list {
    display: flex;
    li {
      a {
        display: flex;
        align-items: center;
        height: 80px;
        padding: 0 40px;
        font-size: $h4;
        font-weight: 500;
      }
    }
  }
}

.footer {
  background-color: #111;
  color: rgba(255, 255, 255, 0.75);
  padding: 150px 0;
  .upper {
    display: flex;
    // align-items: start;
    .menu-box {
      width: 50%;
      .list {
        display: flex;
        flex-wrap: wrap;
        > li {
          width: 50%;
          margin-bottom: 50px;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 3;
          }
          &:nth-child(3) {
            order: 2;
          }
          &:nth-child(4) {
            order: 4;
          }
          &:nth-child(5) {
            order: 5;
          }
        }
        .depth01 {
          font-size: $h3;
          font-weight: 700;
        }
        .depth02 {
          margin-top: 20px;
          li {
            a {
              font-size: $h4;
              padding: 10px 0; // inline은 좌우는 먹는데 위아래는 안먹힘
              display: block;
            }
          }
        }
      }
    }
    .inquiry {
      background-color: #222;
      // width: 50%;
      flex-grow: 1;
      padding: 80px;
      font-size: $h4;
      position: relative;
      .main {
        font-size: $h2;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .more {
        position: absolute;
        right: 80px;
        bottom: 80px;
      }
    }
  }
  .lower {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    address {
      font-family: "Noto Sans KR";
      .info-box {
        display: flex;
        margin: 10px 0;
      }
      dl {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }
    .copyright {
      font-size: 14px;
    }
  }
}
