@import "vars";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
  .logo {
    height: 80px;
    padding: 0 50px;
    img {
      height: 40px;
      top: 20px;
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease;
      &.white {
        opacity: 1;
      }
    }
  }
  &.on {
    color: #111;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    .logo {
      img {
        &.white {
          opacity: 0;
        }
        &.black {
          opacity: 1;
        }
      }
    }
  }
}
.gnb {
  .list {
    display: flex;
    li {
      a {
        display: flex;
        align-items: center;
        height: 80px;
        padding: 0 40px;
        font-size: $h4;
        font-weight: 500;
      }
    }
  }
}
