@import "vars";
@import "mixins";

.main-visual {
  iframe {
    width: 100%;
    aspect-ratio: 1 / 0.5625;
  }
  .slogan {
    position: absolute;
    color: #fff;
    font-size: $h1 * 1.25;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-weight: 700;
    .word {
      overflow: hidden;
    }
  }
}
.banner {
  padding: 150px 0;
  // margin-left: 300px;
  overflow-x: hidden;
  .mask {
    margin-top: 120px;
    position: relative;
    .list {
      li {
        width: 1160px;
        a:hover {
          img {
            transform: scale(1.25);
            transition: all 1s ease;
          }
        }
        .img-box {
          overflow: hidden;
        }
        p {
          margin-top: 30px;
          font-size: $h3;
          .category {
            padding: 10px 20px;
            background-color: #111;
            color: #fff;
          }
        }
      }
    }
    button {
      position: absolute;
      background: none;
      top: 40%;
      border: 2px solid #fff;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      z-index: 2;
      cursor: pointer;
      .material-icons {
        font-size: 48px;
        color: #fff;
      }
      &.btn-next {
        right: 270px; // 1430-1160
      }
    }
    .pagination {
      margin-top: 50px;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 1;
        border: 3px solid $main-color;
        background: none;
        border-radius: 100px;
        transition: all 0.25s ease;
        &-active {
          width: 50px;
          background-color: $main-color;
        }
      }
    }
  }
}
.partner {
  padding: 150px 0;
  background-color: $bg-color;
  overflow-x: hidden;
  .brand {
    margin-top: 50px;
    ul {
      // display: flex;
      // animation: brand-motion 20s linear infinite;
      transition-timing-function: linear;
      li {
        // padding: 20px 40px;
        width: auto;
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.effect {
  //background-color: rgb(116, 165, 255);
  // padding-top: 150px;
  // padding-bottom: 150px;
  // refactoring 해서 아래처럼 가공해줌
  padding: 150px 0;
  position: relative;
  color: #fff;
  .panel {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: 24%;
        a:hover {
          img {
            transform: scale(1.25); // 1을 100%로 봄
          }
        }
        .img-box {
          overflow: hidden;
        }
        img {
          width: 100%;
          vertical-align: top;
          transition: all 0.25s ease;
          aspect-ratio: 1 / 1.5;
        }
      }
    }
  }
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    aspect-ratio: 1 / 0.5625; // 넓이 / 높이;
    z-index: -1;
  }
}
.news {
  width: 100%;
  padding: 150px 0;
  .title-box {
    display: flex;
    align-items: end;
    h2 {
      margin-bottom: 0;
    }
    .detail {
      margin-left: 50px;
      font-size: $h4;
    }
  }
  .panel {
    margin-top: 50px;
    ul {
      display: flex;
      // justify-content: space-between;
      gap: 0 20px; // margin 과 gap 의 차이는 좌우 인접 요소가 있을때 gap 이 생김.
      li {
        width: 33.33%;
        .img-box {
          img {
            width: 100%;
          }
        }
        .txt-box {
          h3 {
            margin: 20px 0 30px;
            font-size: $h3;
            @include ellipsis();
          }
          p {
            @include multiEllipsis();
          }
        }
      }
    }
  }
}
.recruit {
  color: #fff;
  padding: 150px 0;
  background-image: url("../images/main/background.png");
  .txt-box {
    font-size: $h1 * 1.5;
    font-weight: 900;
    line-height: 1.5;
    .rolling {
      width: 450px;
      height: 120px;
      overflow: hidden;
      display: inline-block;
      text-align: center;
      color: $main-color;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
.more {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h4;
  font-weight: 700;
  background-color: $main-color;
  @include longShadow(40, darken($main-color, 10)); //darken, lighten
  overflow: hidden;
}
.title-box {
  h2 {
    font-size: $h1;
    line-height: 1.25;
    .mini {
      color: $main-color;
      display: block;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  p {
    font-size: $h3;
  }
  .detail {
    .material-icons {
      vertical-align: middle;
      margin-left: 10px;
      margin-bottom: 6px;
    }
  }
}

// @keyframes brand-motion {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }
